@import "styles/variables";


.place_holder {
  text-align: center;
  border: 1px dashed #4d9db5;;
  border-radius: 4px;
  padding-top: 10px;
  height: 30px;
  line-height: 1.5;
  font-size: 14px;
  color: #838383;
  margin: 10px 0 20px;
}

.form_container {
  margin-right: 400px;
  padding: 70px;
}



