$gray_light: #c1c1c1;
$gray_dark: #595959;
$blue: #22419d;
$text-1-st: #3e434d;
$text-disable: #97a0b3;
$text-2-nd: #6b7079;
$primary: #3b368e;
$gray-75: #bbbdc0;
$gray-88: #d8dbe0;
$gray-98: #f7f8fa;
$red: #e3324f;
$white: #fff;
$gray-96: #f0f2f5;
$gray-background: #eef0f5;